<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm thương hiệu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Thêm thương hiệu mới</h2>
        <a href="/admin/dashboard" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i> Về Dashboard
        </a>
    </div>
    <form th:action="@{/admin/brands/add}" th:object="${brand}" method="post">
        <div class="mb-3">
            <label for="brandName" class="form-label">Tên thương hiệu</label>
            <input type="text" class="form-control" id="brandName" th:field="*{brandName}" required maxlength="50"/>
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
        <a href="/admin/brands" class="btn btn-secondary">Hủy</a>
    </form>
</div>
</body>
</html>
